### NPM ###
npm-debug.log
node_modules


### Bower ###
**/bower_components/

### API KEYS ###
config.js

### Environment Variables ###
.env
Dockerfile
docker-compose.yml

.DS_Store

###ignore the bundle
client/public/assets/scripts/bundle*
client/public/bundle.js
client/public/assets/scripts/*.hot-update.*
server/data/screenshots/*
server/services/mailAuth*

##downloaded styles
client/public/assets/dist